.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Asap', sans-serif;
}

/*Override bootstrap fonts the only way ypu can in v3 for now*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Asap', sans-serif!important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
.header h1 {
    text-shadow: 2px 2px 2px olive;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 15px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .minemap {
        height:600px
    }
}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {  }

.leaflet-map {
    width:100%;
    height:100%;
}